<!-- Inside index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta content=
		"This is a demo of Web integration
		of Razorpay in NodeJS"
		author="Mr. Twinkle Sharma" />
	<title>Razorpay Web-Integration</title>
</head>

<body>
	
</body>
<!--Inside index.html -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
   
var options = {
	"key": "<%= key  %>",
	"amount": "<%= order.amount  %>",
	"currency": "INR",
	"name": "<%= get_appointments.userId.name || 'testUser'  %>",
	// get_appointments
	"description": "<%= get_appointments.center_id.introduction || 'demo'  %>",
		"image": "<%= my_server+'static/'+ get_appointments.center_id.primaryImage %>",
	   "order_id":"<%= order.id  %>",
	    "handler": function (response){
		console.log(response)
		alert("This step of Payment Succeeded");
	},
	"prefill": {
		//Here we are prefilling random contact
		"contact":"<%= get_appointments.userId.phone || '7836922129'  %>",
		//name and email id, so while checkout
		"name": "<%= user.name || 'testUser'  %>",
		"email":  "<%= user.email || 'testUser@gmail.com'  %>"
	},
	"notes" : {
		"description":"Best Course for SDE placements",
		"language":"Available in 4 major Languages JAVA,C/C++, Python, Javascript",
		"access":"This course have Lifetime Access"
	},
	"theme": {
		"color": "#f05151"
	},
	// "modal": {
    //     "ondismiss": function(){
	// 		window.location.href = "<%= my_server+'payment-error' %>";
    //     }
    // }
};
var razorpayObject = new Razorpay(options);
console.log(razorpayObject);
razorpayObject.on('payment.failed', function (response){
		console.log(response);
		alert("This step of Payment Failed");
});
$(document).ready(function(){
	razorpayObject.open();
// jQuery methods go here...

});

document.getElementById('pay-button').addEventListener('click',function(e){
	razorpayObject.open();
	e.preventDefault();
}) 
</script>


</html>
